.donut-chart-container {
    display: flex;
    justify-content: space-between; /* Add space between donut charts */
    align-items: center;
  }
  
  .donut-chart {
    margin: 0 5px; /* Adjust the margin as needed */
  }
  
  .donut-chart .donut-circle {
    fill: none;
    stroke: #ccc; /* Define the color of the outer circle */
  }
  
  .donut-chart .donut-segment {
    fill: none;
    stroke: rgb(12, 147, 102); /* Define the color of the donut segment */
  }
  
  .donut-chart .donut-text {
    fill: black; /* Define the color of the text */
    font-size: 20px; /* Set the font size of the text */
    text-anchor: middle;
  }
  